* {
	all: initial;
	min-height: 20px;
	font-family: "Symbols Nerd Font", monospace;
	background-color: transparent;
}

tooltip {
	background-color: transparent;
}

tooltip > box {
	border: 2px solid #7aa2f7ff;
	background-color: #383c4a;
	border-radius: 10px;
	padding: 4px 8px;
}

tooltip label {
	color: white;
	background-color: transparent;
}

menu {
	border: 2px solid #7aa2f7ff;
	border-radius: 10px;
	background-color: #383c4a;
}

menuitem {
	margin: 4px;
	padding: 2px 8px 2px 8px;
	border-radius: 10px;
}

menuitem:hover {
	border-radius: 8px;
	background-color: #7aa2f7ff;
}

menuitem:hover label {
	border-radius: 10px;
	color: #000000;
	font-weight: bold;
}

#misc,
#system,
#connections,
#utils {
	border-radius: 10px;
	background-color: #383c4a;
	color: #ffffff;
}

#keyboard-state,
#tray,
#custom-pacman {
	border-radius: 10px;
	background-color: #383c4a;
	color: #ffffff;
	padding: 4px 8px;
}

#mode,
#scratchpad,
#clock,
#workspaces,
#custom-power,
#mpris,
#mpris.paused,
#privacy {
	border-radius: 10px;
	background-color: #383c4a;
	color: #ffffff;
}

#privacy {
	background-color: #e63946;
}

#mode,
#scratchpad {
	background-color: #7aa2f7ff;
	color: #000000;
	font-weight: bold;
}

#mpris:not(.paused) {
	background: linear-gradient(
		90deg,
		#e66465,
		#f6b73c,
		#6dd5ed,
		#c084f1,
		#ff9a9e,
		#a1ffce,
		#fbc2eb,
		#fad0c4,
		#8fd3f4,
		#84fab0,
		#dcb0ed,
		#f5576c
	);
	background-size: 1000% 1000%;
	animation: gradientShift 30s ease-in-out infinite;
	color: #000;
}

@keyframes gradientShift {
	0% {
		background-position: 0% 50%;
	}
	12.5% {
		background-position: 20% 50%;
	}
	25% {
		background-position: 45% 50%;
	}
	37.5% {
		background-position: 70% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	62.5% {
		background-position: 70% 50%;
	}
	75% {
		background-position: 45% 50%;
	}
	87.5% {
		background-position: 20% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#mode,
#scratchpad,
#clock,
#privacy,
#mpris,
#custom-power {
	padding: 0px 4px;
}

#pulseaudio,
#battery,
#disk,
#backlight,
#memory,
#temperature,
#cpu,
#custom-uxplay,
#custom-todo,
#custom-recorder,
#bluetooth,
#network {
	padding: 0px 4px;
	margin: 4px;
}

#battery.charging {
	color: #32e47c;
}

#battery.warning:not(.charging) {
	color: #ffbe61;
}

#battery.critical:not(.charging) {
	animation-name: redblink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes redblink {
	to {
		color: #f53c3c;
	}
}

#workspaces {
	border-radius: 10px;
	background-color: #383c4a;
	color: #ffffff;
}

#workspaces button {
	padding: 0px 8px;
	margin: 4px;
	background-color: #383c4a;
}

#workspaces button.focused {
	border-radius: inherit;
	background-color: #7aa2f7ff;
}

#workspaces button.focused label {
	color: #000000;
}

#workspaces button.focused:hover {
	border-radius: inherit;
	background-color: #7aa2f7ff;
}

#workspaces button.urgent {
	border-radius: inherit;
	background-color: #fc0c00;
}

#workspaces button:hover {
	border-radius: inherit;
	background-color: #666768;
}

#idle_inhibitor.activated {
	background-color: #26a65b;
}

#custom-recorder.saving {
	color: #32e47c;
}

#custom-recorder.active {
	color: #e63946;
}

#custom-pacman {
	color: #32e47c;
	padding-right: 8px;
}

#temperature.warning {
	color: #ffbe61;
}

#temperature.critical {
	color: #e63946;
}

#pulseaudio:hover,
#cpu:hover,
#disk:hover,
#bluetooth:hover,
#custom-recorder:hover,
#network:hover {
	border-radius: 6px;
	color: #000000;
	background-color: #7aa2f7ff;
}
