@import url("../colors/style.css");

* {
	all: unset;
	min-height: 20px;
	font-family: "Symbols Nerd Font", monospace;
	color: @text_primary;
	border-radius: 10px;
	background-color: @bg_base;
	font-size: 1rem;
}

@keyframes redblink {
	to {
		color: @danger;
	}
}

@keyframes gradientShift {
	0% {
		background-position: 0% 50%;
	}
	12.5% {
		background-position: 20% 50%;
	}
	25% {
		background-position: 45% 50%;
	}
	37.5% {
		background-position: 70% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	62.5% {
		background-position: 70% 50%;
	}
	75% {
		background-position: 45% 50%;
	}
	87.5% {
		background-position: 20% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

tooltip {
	border: 2px solid @accent;
}

tooltip box {
	padding: 4px;
}

window#waybar,
window#waybar box {
	background-color: transparent;
}

menu {
	border: 2px solid @accent;
}

menuitem {
	margin: 4px;
	padding: 2px 8px;
	border-radius: 8px;
}

menu separator {
	min-height: 1px;
	margin: 0px 8px;
	border-top: 1px solid @text_primary;
}

menuitem:hover,
menuitem:hover > label,
menu menuitem:hover arrow {
	color: @active_text;
	font-weight: bold;
	background-color: @accent;
}

menu menuitem arrow {
	color: @text_primary;
	min-width: 16px;
	min-height: 16px;
	margin: 0px 0px 0px 8px;
}

menu menuitem arrow:dir(ltr) {
	-gtk-icon-source: -gtk-icontheme("lucide-chevron-right-symbolic");
}

#tray,
#mode,
#clock,
#mpris,
#scratchpad,
#custom-logo,
#custom-pacman,
#workspaces button {
	padding: 0px 8px;
}

#misc,
#system,
#workspaces,
#utils,
#connections {
	padding: 4px;
}

#mode,
#scratchpad {
	background-color: @accent;
	color: @active_text;
	font-weight: bold;
}

#mpris:not(.paused) {
	background: linear-gradient(
		90deg,
		#e66465,
		#f6b73c,
		#6dd5ed,
		#c084f1,
		#ff9a9e,
		#a1ffce,
		#fbc2eb,
		#fad0c4,
		#8fd3f4,
		#84fab0,
		#dcb0ed,
		#f5576c
	);
	background-size: 1000% 1000%;
	animation: gradientShift 30s ease-in-out infinite;
	color: @active_text;
}

#pulseaudio,
#battery,
#disk,
#backlight,
#memory,
#temperature,
#cpu,
#power-profiles-daemon,
#privacy,
#custom-uxplay,
#custom-cups,
#custom-todo,
#custom-recorder,
#network {
	padding: 0px 4px;
}

#bluetooth {
	padding: 0px 8px;
}

#battery.critical:not(.charging) {
	animation-name: redblink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#workspaces button:hover,
#workspaces button:hover label {
	background-color: @bg_hover;
}


#workspaces button.focused,
#workspaces button.focused label,
#workspaces button.focused:hover,
#workspaces button.focused:hover label {
	background-color: @accent;
}

#workspaces button.focused label,
#workspaces button.urgent label,
#workspaces button.ugent:hover label
#workspaces button.focused label {
	color: @active_text;
}

#workspaces button.urgent,
#workspaces button.ugent:hover,
#workspaces button.urgent label {
	background-color: @danger;
}

#custom-pacman,
#battery.charging,
#idle_inhibitor.activated,
#custom-recorder.saving {
	color: @success;
}

#battery.warning:not(.charging),
#temperature.warning {
	color: @warning;
}

#privacy revealer box *,
#custom-recorder.active,
#temperature.critical {
	color: @danger;
}

#power-profiles-daemon:hover,
#pulseaudio:hover,
#cpu:hover,
#disk:hover,
#bluetooth:hover,
#custom-recorder:hover,
#network:hover {
	border-radius: 6px;
	color: @active_text;
	background-color: @accent;
}

#workspaces button,
#connections > widget > *,
#utils > widget > *,
#system > widget > box,
#system-revealer revealer box > widget.inner > *,
#misc > widget > box,
#misc-revealer revealer > box > widget.inner > * {
	margin-right: 4px;
}

#workspaces :last-child,
#connections :last-child > *,
#utils :last-child > * {
	margin-right: 0;
}
