* {
	all: initial;
	min-height: 20px;
	font-family: "Symbols Nerd Font", monospace;
	background-color: transparent;
}

tooltip label {
	background-color: #383c4a;
	color: white;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 10px;
}

#connections, #misc, #system {
	border-radius: 10px;
	background-color: #383c4a;
	color: #ffffff;
	margin-left: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

#mode,
#clock,
#workspaces,
#custom-power,
#mpris,
#mpris.paused,
#privacy {
	border-radius: 10px;
	background-color: #383c4a;
	color: #ffffff;
}

#privacy {
	background-color: #e63946;
}

#mode {
	background-color: #8ecae6;
	color: #000000;
}

#mpris:not(.paused) {
  background: linear-gradient(90deg,
    #e66465,
    #f6b73c,
    #6dd5ed,
    #c084f1,
    #ff9a9e,
    #a1ffce,
    #fbc2eb,
    #fad0c4,
    #8fd3f4,
    #84fab0,
    #dcb0ed,
    #f5576c
  );
  background-size: 1000% 1000%;
  animation: gradientShift 30s ease-in-out infinite;
  color: #000;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  12.5% { background-position: 20% 50%; }
  25% { background-position: 45% 50%; }
  37.5% { background-position: 70% 50%; }
  50% { background-position: 100% 50%; }
  62.5% { background-position: 70% 50%; }
  75% { background-position: 45% 50%; }
  87.5% { background-position: 20% 50%; }
  100% { background-position: 0% 50%; }
}

#mode,
#mpris,
#custom-power,
#privacy {
	margin-left: 4px;
}

#mode,
#clock,
#privacy,
#mpris,
#custom-power,
#workspaces button {
	padding-left: 8px;
	padding-right: 8px;
}

#pulseaudio:not(.microphone),
#pulseaudio.microphone,
#memory,
#disk,
#backlight,
#battery,
#bluetooth {
	padding-right: 8px;
}

#battery.charging {
	color: #32e47c;
}

#battery.warning:not(.charging) {
	color: #ffbe61;
}

#battery.critical:not(.charging) {
	animation-name: redblink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes redblink {
	to {
		color: #f53c3c;
	}
}

#workspaces button:hover {
	border-radius: inherit;
	background-color: #666768;
}

#idle_inhibitor.activated {
	background-color: #26a65b;
}

#custom-recorder {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
}

#custom-recorder.active {
  color: #e63946;
}

#custom-pacman {
	color: #32e47c;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 8px;
}