* {
	border: none;
	border-radius: 0;
	min-height: 20px;
	font-family: "Symbols Nerd Font", monospace;
}

#waybar {
	background: transparent;
}

#waybar.hidden {
	opacity: 0.2;
}

tooltip {
	background: #383c4a;
	border-radius: 10px;
}

tooltip label {
	color: white;
}

#custom-pacman,
#custom-recorder,
#mode,
#clock,
#privacy,
#privacy-item,
#idle_inhibitor,
#battery,
#pulseaudio,
#disk,
#memory,
#bluetooth,
#network,
#backlight {
	transition: none;
	border-radius: 10px;
	background: #383c4a;
	color: #ffffff;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 14px;
	padding-right: 14px;
	margin: 4px;
}

#workspaces {
	transition: none;
	border-radius: 10px;
	background: #383c4a;
	margin: 4px;
	color: #7c818c;
}

#workspaces button {
	padding: 0;
}

#workspaces button:hover {
	border-radius: inherit;
	color: white;
	background: #666768;
}

#workspaces button.focused {
	color: white;
}

#bluetooth.connected,
#bluetooth.on {
	background-color: #26a65b;
}

#bluetooth.disabled,
#bluetooth.off {
	background-color: #f53c3c;
}

#idle_inhibitor.activated {
	background-color: #26a65b;
}

#pulseaudio.muted,
#pulseaudio.source-muted {
	background-color: #90b1b1;
	color: #2a5c45;
}

#battery.charging {
	color: #ffffff;
	background-color: #26a65b;
}

#battery.warning:not(.charging) {
	background-color: #ffbe61;
	color: black;
}

#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#network.wifi,
#network.ethener {
	background-color: #26a65b;
}

#network.disabled,
#network.disconnected {
	background-color: #f53c3c;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}
